{% extends "master.html" %}
{% block body %}
{% load static %}

<style>
    .container {
        max-width: fit-content;
        margin: 40px auto;
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    h2 {
        text-align: center;
        color: #333;
        margin-bottom: 30px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        background-color: #4CAF50;
        color: white;
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tbody tr:hover {
        background-color: #f1f1f1;
    }

    .no-tasks {
        text-align: center;
        color: #999;
        padding: 20px;
    }
</style>

<div class="container">
    <h2>Candidates Job Applications</h2>
    <table>
        <tr>
            <th>Job Title</th>
            <th>Candidate Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>

        {% if data is None %}
        <td colspan="6" style="text-align: center; color: #999; padding: 20px;">No Applications get yeat.</td>
        {% else %}

        {% for i in data %}
        {% comment %} {% if i.status == 'Offered' or 'Rejected' %} {% endcomment %}
        <tr>
            <td>{{ i.job.title }}</td>
            <td>{{ i.candidate.fullName }}</td>
            <td>{{ i.candidate.candidateUser.phone }}</td>
            <td>{{ i.candidate.candidateUser.email }}</td>
            <td>{{ i.candidate.adress }}</td>
            <td>{{ i.candidate.dateOfBirth }}</td>
            <td>
                {% if i.status == 'Applied' %}
                <a href="{% url 'callInterview' i.id %}"><button style="background: rgb(0, 0, 255); color: #fff;">Call Interview</button></a>
                {% elif i.status == 'Interview' %}
                <a href="{% url 'offeerApplication' i.id %}"><button style="background: rgb(0, 255, 0);">Offer</button></a> |
                <a href="{% url 'rejectApplication' i.id %}"><button style="background: rgb(255, 0, 0);">Reject</button></a>
                {% else %}
                <button style="background: #555; color: #fff;" disabled>{{ i.status }}</button>
                {% endif %}
            </td>
        </tr>
        {% comment %} {% endif %} {% endcomment %}

        {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock body %}