{% extends "master.html" %}
{% block nav_home %}class="active"{% endblock nav_home %}
{% block body %}
{% load static %}

<style>
    h1 {
        text-align: center;
        color: #333;
    }

    .card-container {
        display: flex;
        gap: 20px;
        margin-top: 30px;
        justify-content: center;
        justify-items: center;
    }

    .card {
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-content {
        padding: 15px;
    }

    .card-content h3 {
        margin: 0 0 10px 0;
        color: #333;
    }

    .card-content p {
        font-size: 14px;
        color: #555;
        overflow: hidden;
    }

</style>

<h1>Welcome to Our Job Portal, Mr. / Ms. : <span style="color: red;"> {{user.username}}<span></h1>

<div class="card-container">
    <div class="card">
        <div class="card-content">
            <h3>User Name: {{ user.username }}</h3>
            <p>Phone: {{ user.phone }}</p>
            <p>User Type: {{ user.userTypes }}</p>
        </div>
    </div>
</div>

{% endblock body %}